<!DOCTYPE html>
<html>
<head>
<link href="../static/css/simple.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

</head>
<body>
  <h1 id="logo">facerec</h1>
  <div id="loading"></div>
<div id="frame" class="input" style="text-align:center;">
  <form action="{{ url_for('get_course') }}" method="post">
    <select id="coursename"  name="coursename">
        <option value="ECON">ECON</option>
        <option value="EECS">EECS</option>
        <option value="TO">TO</option>
    </select>
    <input id="coursenum" name="coursenum" placeholder="Course Number" type="text" required>
    <input type="submit" value="Submit" id="submit">
  </form>
  <form action="{{ url_for('get_course') }}" method="get">
    <input type="submit" value="Collection Manager">
  </form>
</div>
<script>
document.getElementById("submit").addEventListener("click", function (event) {
  if($('#coursenum').val() != ''){
      $("#loading").css("display", "block");
   }

}, false);

</script>

<div id="footer"><p>Questions, Comments, Concerns: <a href="mailto:clemsut@umich.edu">clemsut@umich.edu</a></p></div>
</body>
</html>
